{% extends 'base.html' %}
{% block content %}
<h2>Edit Education Record</h2>
<form method="POST">
  <div class="mb-2">
    <label>Person</label>
    <select name="person_id" class="form-select" required>
      {% for person in persons %}
      <option value="{{ person.person_id }}" {% if person.person_id == education.person_id %}selected{% endif %}>{{ person.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-2">
    <input class="form-control" name="degree" value="{{ education.degree }}" required />
  </div>
  <div class="mb-2">
    <input class="form-control" name="institution" value="{{ education.institution }}" required />
  </div>
  <div class="mb-2">
    <input type="number" class="form-control" name="year_of_passing" value="{{ education.year_of_passing }}" required min="1900" max="{{ max_year }}">
  </div>

  <button class="btn btn-info">Update Education</button>
</form>
{% endblock %}
